*{
    margin: 0;
    padding: 0;
    }
    body{
        background: url(/images/LISA_BG6.webp) no-repeat;
        background-size: cover;
        background-position-y: 50%;
        background-attachment: fixed;
        border: 0.6rem solid #ebaacd;
        color: #d37ecb;
        text-transform: uppercase;
        font-family: roboto;
        font-weight: bold;
    }
    .lalisa-img{
        display: block;
        margin: 0 auto;
        max-width: 1400px;
    }
    .barra-direccion{
        display: flex;
        max-width: 1210px;
        justify-content: flex-start;
        margin: auto;
        margin-top: 2rem;
    }
    .barra-direccion a{
        color: white;
    }
    .menu-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        padding: 0.2rem 2rem;
    }
    /* ---------------------------------------------ANIMACION!!!!!! */
    @keyframes aparicion {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    .precio-producto , .titulo-producto{
    animation-duration: 1.5s;
    animation-name: aparicion;
    }
    li{
        display: inline-block;
        margin: 10px;
    }
    .logo img{
        width: 17rem;
    }
    .main-container{
        display: grid;
        grid-template-columns: repeat(3, 24rem) ;
        grid-template-rows: repeat(3, 24rem);
        row-gap: 3rem;
        column-gap: 1.8rem;
        justify-content: center;
        max-width: 1400px;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .main-container div{
        background-color: #b1b1b1;
    }
    /* ----------------------------------------------TRANSICION!!!!!! */
    main img{
        width: 23rem;
        height: 23rem;
        transition: transform 0.8s;
    }
    /* -----------------------------------------------TRANFORMACION!!!!!! */
    main img:hover{
        transform: scale(1.2);
    }
    a{
        text-decoration: none;
        color: #d37ecb;
    
    }
    .caja-producto{
        text-align: center;
    }
    .titulo-producto p{
        color: #d3c37c;
        background-color: black;
    }
    .precio-producto p{
        color: #d3c37c;
        background-color: black;
    }
    .social-footer{
        display: flex;
        justify-content: center;
        margin: 10px;
    }
    i{
        margin: 1rem;
    }
    footer{
        color: #d3c37c;
        text-align: center;
        margin: 3rem
    }
    
    @media screen and (max-width:480px) {
    
        body{
            background-color: black;
            border: 0.6rem solid #ebaacd;
            color: #d37ecb;
            text-transform: uppercase;
        }
    
        .logo img{
                width: 10rem;
        }
    
        /* .carrito{
            display: none;
        } */

        .barra-direccion{
            display: flex;
            max-width: 270px;
            justify-content: flex-start;
            margin: auto;
            margin-top: 1rem;
            font-size: 0.6em;
        }

        .lalisa-img{
            margin: 0 auto;
            width: 19rem;
            height: 8rem;
            max-width: 1400px;
        }

        .menu-container{
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: black;
                padding: 0.2rem 2rem;
        }
            
        .main-container{
                display: grid;
                grid-template-columns: repeat(1, 17rem) ;
                grid-template-rows: repeat(9, 17rem);
                row-gap: 3rem;
                column-gap: 1.8rem;
                justify-content: center;
                max-width: 1400px;
                margin: auto;
                margin-top: 2rem;
                margin-bottom: 2rem;
        }
    
        div img{
                width: 17rem;
                height: 17rem;
        }
        a{
            text-decoration: none;
            color: #d37ecb;
        }
        li{
            font-size: 0.7rem;
            display: inline-block;
            margin: 0.4rem;
        }
    }
    
    @media (min-width:481px) and (max-width:768px) {
        body{
            background-color: black;
            border: 0.6rem solid #ebaacd;
            color: #d37ecb;
            text-transform: uppercase;
        }
    
        .logo img{
                width: 10rem;
        }
    
        .barra-direccion{
            display: flex;
            max-width: 570px;
            justify-content: flex-start;
            margin: auto;
            margin-top: 2rem;
            font-size: 0.8rem;
        }

        .lalisa-img{
            margin: 0 auto;
            width: 25rem;
            height: 13rem;
            max-width: 1400px;
        }

        .menu-container{
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: black;
                padding: 0.2rem 2rem;
        }
            
        .main-container{
                display: grid;
                grid-template-columns: repeat(2, 17rem) ;
                grid-template-rows: repeat(5, 17rem);
                row-gap: 3rem;
                column-gap: 1.8rem;
                justify-content: center;
                max-width: 1400px;
                margin: auto;
                margin-top: 2rem;
                margin-bottom: 2rem;
        }
    
        div img{
                width: 17rem;
                height: 17rem;
        }
        a{
            text-decoration: none;
            color: #d37ecb;
        }
        li{
            font-size: 0.9rem;
            display: inline-block;
            margin: 0.9rem;
        }
    }
    
    @media (min-width:769px) and (max-width:1024px) {
    
        body{
            background-color: black;
            border: 0.6rem solid #ebaacd;
            color: #d37ecb;
            text-transform: uppercase;
        }
    
        .logo img{
                width: 15rem;
        }
    
        .lalisa-img{
            margin: 0 auto;
            width: 26rem;
            height: 10rem;
            max-width: 1400px;
        }

        .barra-direccion{
            display: flex;
            max-width: 640px;
            justify-content: flex-start;
            margin-top: 2rem;
            margin: auto;
            font-size: 0.9em;
        }
        
        .menu-container{
                display: flex;
                /* flex-direction: column; */
                align-items: center;
                background-color: black;
                padding: 0.2rem 2rem;
        }
            
        .main-container{
                display: grid;
                grid-template-columns: repeat(2, 19rem) ;
                grid-template-rows: repeat(5, 19rem);
                row-gap: 3rem;
                column-gap: 1.8rem;
                justify-content: center;
                max-width: 1400px;
                margin: auto;
                margin-top: 2rem;
                margin-bottom: 2rem;
        }
    
        div img{
                width: 19rem;
                height: 19rem;
        }
        a{
            text-decoration: none;
            color: #d37ecb;
        }
        li{
            font-size: 1rem;
            display: inline-block;
            margin: 0.4rem;
        }
    }