*{
    margin: 0;
    padding: 0;
    }
/* --------------------------------------GRADIENTE!!!!!! */
body{
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,1) 7%, rgba(33,33,33,1) 30%, rgba(79,79,79,1) 100%);
        border: 0.6rem solid #ebaacd;
        color: #d37ecb;
        text-transform: uppercase;
        font-family: roboto;
        font-weight: bold;
    }
    .barra-direccion{
        display: flex;
        max-width: 1210px;
        justify-content: flex-start;
        margin: auto;
    }
    .barra-direccion a{
        color: white;
    }
    .menu-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        padding: 0.2rem 2rem;
    }
    /* ---------------------------------------------ANIMACION!!!!!! */
    @keyframes aparicion {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
.precio-producto , .titulo-producto{
    animation-duration: 1.5s;
    animation-name: aparicion;
    }
    li{
        display: inline-block;
        margin: 10px;
    }
    .logo img{
        width: 17rem;
    }
    .main-container{
        display: grid;
        grid-template-columns: repeat(3, 24rem) ;
        grid-template-rows: repeat(3, 24rem);
        row-gap: 3rem;
        column-gap: 1.8rem;
        justify-content: center;
        max-width: 1400px;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .main-container div{
        background-color: #ebaacd;
    }
    /* ----------------------------------------------TRANSICION!!!!!! */
    div img{
        width: 23rem;
        height: 23rem;
        transition: transform 0.8s;
    }
    /* -----------------------------------------------TRANFORMACION!!!!!! */
    div img:hover{
        transform: scale(1.2);
    }
    a{
        text-decoration: none;
        color: #d37ecb;
    
    }
    .caja-producto{
        text-align: center;
    }
    .titulo-producto p{
        color: #ebaacd;
        background-color: black;
    }
    .precio-producto p{
        color: #ebaacd;
        background-color: black;
    }
    .newsletter{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        width: 500px;
        margin: auto;
        margin-top: 60px;
        text-align: center;
        padding: 30px;
        background-color: black;
        border: 8px solid #ebaacd;
    }
    .newsletter button{
        width: 450px;
        height: 30px;
        text-align: center;
        margin: auto;
        background-color:black;
        border: 3px solid #ebaacd;
        color: #ebaacd;
        text-transform: uppercase;
        cursor: pointer;
        font-family: 'roboto';
    }
    .newsletter form input{
        width: 450px;
        height: 30px;
        text-align: center;
        text-transform: uppercase;
        border: 3px solid #ebaacd;
    }
    .social-footer{
        display: flex;
        justify-content: center;
        margin: 10px;
    }
    i{
        margin: 1rem;
    }
    footer{
        text-align: center;
        margin: 3rem
    }
    
    @media screen and (max-width:480px) {
    
        body{
            background-color: black;
            border: 0.6rem solid #ebaacd;
            color: #d37ecb;
            text-transform: uppercase;
        }
    
        .logo img{
                width: 10rem;
        }
    
        /* .carrito{
            display: none;
        } */

        .barra-direccion{
            display: flex;
            max-width: 270px;
            justify-content: flex-start;
            margin: auto;
            font-size: 0.6em;
        }

        .menu-container{
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: black;
                padding: 0.2rem 2rem;
        }
            
        .main-container{
                display: grid;
                grid-template-columns: repeat(1, 17rem) ;
                grid-template-rows: repeat(9, 17rem);
                row-gap: 3rem;
                column-gap: 1.8rem;
                justify-content: center;
                max-width: 1400px;
                margin: auto;
                margin-top: 2rem;
                margin-bottom: 2rem;
        }
    
        div img{
                width: 17rem;
                height: 17rem;
        }
        a{
            text-decoration: none;
            color: #d37ecb;
        }
        li{
            font-size: 0.7rem;
            display: inline-block;
            margin: 0.4rem;
        }
        .newsletter{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            width: 200px;
            margin: auto;
            margin-top: 60px;
            text-align: center;
            padding: 30px;
            background-color: black;
            border: 8px solid #ebaacd;
        }
        .newsletter button{
            width: 150px;
            height: 30px;
            text-align: center;
            margin: auto;
            background-color:black;
            border: 3px solid #ebaacd;
            color: #ebaacd;
            text-transform: uppercase;
            cursor: pointer;
            font-family: 'roboto';
        }
        .newsletter form input{
            width: 150px;
            height: 30px;
            text-align: center;
            text-transform: uppercase;
            border: 3px solid #ebaacd;
        }
    }
    
    @media (min-width:481px) and (max-width:768px) {
        body{
            background-color: black;
            border: 0.6rem solid #ebaacd;
            color: #d37ecb;
            text-transform: uppercase;
        }
    
        .logo img{
                width: 10rem;
        }
    
        .barra-direccion{
            display: flex;
            max-width: 570px;
            justify-content: flex-start;
            margin: auto;
            font-size: 0.8rem;
        }

        .menu-container{
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: black;
                padding: 0.2rem 2rem;
        }
            
        .main-container{
                display: grid;
                grid-template-columns: repeat(2, 17rem) ;
                grid-template-rows: repeat(5, 17rem);
                row-gap: 3rem;
                column-gap: 1.8rem;
                justify-content: center;
                max-width: 1400px;
                margin: auto;
                margin-top: 2rem;
                margin-bottom: 2rem;
        }
    
        div img{
                width: 17rem;
                height: 17rem;
        }
        a{
            text-decoration: none;
            color: #d37ecb;
        }
        li{
            font-size: 0.9rem;
            display: inline-block;
            margin: 0.9rem;
        }
    }
    
    @media (min-width:769px) and (max-width:1024px) {
    
        body{
            background-color: black;
            border: 0.6rem solid #ebaacd;
            color: #d37ecb;
            text-transform: uppercase;
        }
    
        .logo img{
                width: 15rem;
        }
    
        .barra-direccion{
            display: flex;
            max-width: 640px;
            justify-content: flex-start;
            margin: auto;
            font-size: 0.9em;
        }
        
        .menu-container{
                display: flex;
                /* flex-direction: column; */
                align-items: center;
                background-color: black;
                padding: 0.2rem 2rem;
        }
            
        .main-container{
                display: grid;
                grid-template-columns: repeat(2, 19rem) ;
                grid-template-rows: repeat(5, 19rem);
                row-gap: 3rem;
                column-gap: 1.8rem;
                justify-content: center;
                max-width: 1400px;
                margin: auto;
                margin-top: 2rem;
                margin-bottom: 2rem;
        }
    
        div img{
                width: 19rem;
                height: 19rem;
        }
        a{
            text-decoration: none;
            color: #d37ecb;
        }
        li{
            font-size: 1rem;
            display: inline-block;
            margin: 0.4rem;
        }
    }